@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
